<div class='client-logs-page'>
  <div class='center'>
    <h2>
      New <%= @client_log_param.titleize %>: <%= link_to @client.full_name, client_path(@client, location: @location_param) %>
    </h2>
    <br>
    <%= render 'form' %>
  </div>
</div>