<div>
  <div class="center">
    <div>
      MED INDEX
    </div>
    <br>
    <% @medications.each do |medication| %>
      <% medication.medication_names.each do |medication_name| %>
      <div>
        <%= medication_name.name %>
      </div>
      <% end %>
    <% end %>

    <%=link_to 'Add Medication', new_medication_path(location: @location_param) %>
  </div>
</div>