<%= form_tag clients_path, method: :get do %>
  <%= hidden_field_tag(:location, @location_param) %>
  <div class='search-bar'>
    <div id='auto-complete-client'></div>
  </div>
<% end %>

<%# form tag enables name search without choosing name from autocomplete dropdown %>