<div class="clients-page">
  <div class="form">
    <h2>New Client</h2>
    <%= render 'form' %>
    <div class="mt-4">
      <%= link_to "Back", clients_path(location: @location_param) %>
    </div>
  </div>
</div>