<div class='error-page'>
  <div class='center'>
    <p class='error-message'>
      <%= @error %>
    </p>
    <p class='error-message'>
      <%= @development_error %>
    </p>
    <div class='error-image'></div>
  </div>
</div>