<div class='error-page'>
  <div class='center'>
    <div class='error-message'>
      <h1>Something went wrong </h1>
      <h3> 500 Status Error</h3>
      <p>
       Please try again. If problem persists please contact Site Adminstrator.
      </p>
      <p>
        <%= @error %>
      </p>
      <p>
        <%= @development_error %>
      </p>
    </div>
    <div class='error-image'></div>
  </div>
</div>