/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html,
body {
  height: 100%;
  font-size: small;
  color: $black;
  background-color: $teal;
  caret-color: $purple;
}
.form-select,
.form-control {
  font-size: 16px;
}

.form-control {
  margin-bottom: 1em;
  width: 100%;
}

.form-select {
  margin-bottom: 1em;
}

.input {
  height: 1.75em;
  padding: 2.5px;
  width: 11em;
  border-radius: 8px;
  font-size: 16px;
  border-width: 3px;
  border-color: $black;
  background-color: $teal;
}

.input:focus {
  outline: none;
  border: 3px solid $purple;
}

.form-select:focus,
.form-control:focus,
.form-control:visited {
  border-width: 3px;
  border-color: $black;
  box-shadow: none;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

.btn-primary:focus:active {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  color: $light-grey;
}

ul li {
  margin-bottom: 1em;
}

.alert {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  font-size: x-small;
  animation: fade 8s forwards;
  width: 65%;
}

.alert-success {
  background-color: lavender;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include md-up {
  html,
  body {
    font-size: medium;
  }
  .alert {
    font-size: small;
  }
  .form-control {
    margin-bottom: 1em;
    width: 18em;
  }
}
