/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html,
body {
  height: 100%;
  font-size: small;
  color: $black;
  background: url("medical-image.png");
  background-size: 135% 100%;
}
.form-select,
.form-control {
  font-size: 16px;
}
.form-select:focus,
.form-control:focus,
.form-control:visited {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  color: $light-grey;
}

ul li {
  margin-bottom: 1em;
}

.alert {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  font-size: x-small;
  animation: fade 8s forwards;
}

.center-item {
  display: flex;
  justify-content: center;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@include md-up {
  html,
  body {
    font-size: medium;
  }
  .alert {
    font-size: small;
  }
}

@include lg-up {
  html,
  body {
    background: url("medical-image-xl.png");
  }
}

@include md {
  html,
  body {
    background-size: 100% 100%;
  }
}

@include lg {
  html,
  body {
    background-size: 107% 100%;
  }
}

@include xl {
  html,
  body {
    background-size: 105% 100%;
  }
}

@include xxl-up {
  html,
  body {
    font-size: medium;
    background-size: 100% 100%;
  }
}
