@import "variables";

.clients-page {
  .client-text {
    visibility: hidden;
    width: 100px;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .client-code:hover .client-text {
    visibility: visible;
  }

  .client-name:hover .client-text {
    visibility: visible;
  }

  .client-location:hover .client-text {
    visibility: visible;
  }
}
