@import "variables";

.client-logs-page {
  .card {
    width: 75%;
  }
  .details {
    height: 65vh;
    .center {
      height: auto;
    }
  }
  .btn-primary:not(.hover) {
    width: 50%;
  }
  .btn-secondary {
    font-size: x-small;
  }
  .log-form-control {
    height: 10em;
    width: 18em;
  }
  .med-name-container {
    .space-between {
      display: block;
    }
  }
  .medication {
    display: inline-flex;
  }
  .dosage {
    display: flex;
    justify-content: center;
    .form-control {
      width: 5em;
    }
  }
}

@include md-up {
  .client-logs-page {
    .details {
      height: 70vh;
    }
    .btn-secondary {
      font-size: medium;
    }
    .log-form-control {
      height: 10em;
      width: 40em;
    }
  }
}

@include lg-up {
  .client-logs-page {
    .med-name-container {
      .space-between {
        display: flex;
      }
    }
  }
}
