@import "variables";

.client-logs-page {
  .card {
    width: 75%;
  }
  .details {
    height: 65vh;
    .center {
      height: auto;
    }
  }
  .btn-primary:not(.hover) {
    width: 50%;
  }
  .btn-secondary {
    font-size: x-small;
  }
  .log-form-control {
    height: 10em;
    width: 18em;
  }
  .alert-danger {
    width: fit-content;
    padding: 11px;
    border-radius: 5px;
  }
  .log-warning {
    text-align: center;
  }
  .display-med {
    color: $purple;
    cursor: pointer;
  }

  .delete-med-btn {
    color: $warning;
  }
}

@include md-up {
  .client-logs-page {
    .details {
      height: 70vh;
    }
    .btn-secondary {
      font-size: medium;
    }
    .log-form-control {
      height: 10em;
      width: 40em;
    }
  }
}

@include lg-up {
  .client-logs-page {
    .log-warning {
      font-size: 20px;
    }
  }
}
