@import "variables";

.btn-primary:not(.hover) {
  background-color: $black;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 1.5em;
  text-shadow: none;
  outline: none;
  width: 100%;
  text-align: center;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: $lavender;
  border-radius: 1em;
}

.card-body {
  line-height: 2;
  text-align: center;
}
.card:nth-of-type(odd) {
  background-color: transparent;
}

@include lg-up {
  .card {
    line-height: 2;
    padding: 2em;
    border-radius: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
}
