@import "variables";

.btn-primary:not(.hover) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border: none;
  border-radius: 4px;
  padding: 8px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  width: 100%;
}

.logo {
  background-image: url("home-logo.png");
  background-size: 100% 100%;
  caret-color: $purple;
  width: 18.25em;
  height: 7em;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}

.filter {
  cursor: pointer;
  height: 2.75em;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-item {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
}

.card {
  background-color: $lavender;
  border-radius: 1em;
}

.card-body {
  line-height: 1.5;
  text-align: center;
}
.card:nth-of-type(odd) {
  background-color: transparent;
}

.search-bar {
  margin-top: 0.25em;
  display: flex;
  font-size: 16px;
}

.details {
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $grey transparent; //Firefox scrollbar css
}

//Chrome, Safari etc scrollbar css
.details::-webkit-scrollbar {
  width: 10px;
}

.details::-webkit-scrollbar-track {
  background-color: transparent;
}

.details::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 10px;
  margin-bottom: 10em;
}

.drop-down-list {
  position: absolute;
  background-color: $teal;
  font-size: small;
  max-height: 12em;
  width: 13.5em;
  overflow-y: auto;
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 0.75em;
  z-index: 1;
  &.hidden {
    display: none;
  }
  .drop-down-element {
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    &:hover {
      border-radius: 8px;
      color: $purple;
    }
  }
}

.checkbox {
  transform: scale(1.25);
  margin-left: 0.5em;
}

.pagination {
  cursor: default;
  a,
  span,
  em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: $light-grey;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: $black;
  }
  a {
    color: $purple;
  }
}
.page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.previous_page,
.next_page {
  border-width: 2px;
}
.previous_page {
  margin-right: 1em;
}
.next_page {
  margin-left: 1em;
}

@include md-up {
  .drop-down-list {
    font-size: medium;
    width: 11em;
  }
}

@include lg-up {
  .card {
    padding: 2em;
    border-radius: 3em;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-body {
    line-height: 2;
  }
}
