@import "variables";

.error-page {
  .error-message {
    margin-left: 2em;
  }
  .error-image {
    background-image: url("error-image.png");
    background-size: 100% 100%;
    width: 24em;
    height: 24em;
  }
}

@include md-up {
  .error-page {
    .error-message {
      margin-left: 0;
    }
  }
}
