@import "variables";
.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    width: 290px;
  }

  .illustration {
    text-align: center;
    font-size: 90px;
  }

  .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid $grey;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 2em;
    color: $grey;
  }

  .form-control:focus,
  .form-control:visited {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: $grey;
  }

  .shared-link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    color: $grey;
  }

  .change-password {
    font-size: 12px;
  }
}

@include md-up {
  .login-page {
    .btn-primary {
      font-size: medium;
    }
  }
}
