@import "variables";

.login-page {
  .login-container {
    width: 18em;
    
  }

  .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid $grey;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 2em;
    
  }

  .form-control:focus,
  .form-control:visited {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    
  }

  .shared-link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
  }

  .change-password {
    font-size: 12px;
  }
}

@include md-up {
  .login-page {
    .btn-primary {
      font-size: medium;
    }
  }
}
