@import "variables";
.login-page {
  height: 100%;
  background-color: $dark-grey;
  
  .login-dark {
    max-width: 400px;
    width: 100%;
    background-color: $dark-grey;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: $white;
  }

  .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: $light-blue;
  }

  .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid $grey;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1.5em;
    color: $white;
  }

  .form-control:focus,
  .form-control:visited {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: $white;
  }

  .btn-primary {
    background: $blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
    width: 100%;
    font-size: medium;
  }

  .shared-link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: $light-grey;
    opacity: 0.9;
    text-decoration: none;
  }
}
