@import "variables";

.medications-page {
  .add-med,
  .remove-med {
    cursor: pointer;
    font-size: 30px;
  }
  .btn-primary:not(.hover) {
    width: 50%;
  }
  .add-med {
    color: $purple;
    margin-right: 2em;
  }
  .remove-med {
    color: $warning;
  }
}
