@import "variables";

.medications-page {
  .btn-primary:not(.hover) {
    width: fit-content;
  }
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-top: 1.9px;
    width: 2em;
    color: $white;
    font-size: 20px;
    background: $purple;
    height: 1.75em;
    border-radius: 5px;
  }
  .form-control {
    margin-bottom: 0em;
  }
  .form-select {
    max-width: 19em;
  }
  .filter-med {
    margin-top: 1em;
  }
  .medications-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
  .card-body {
    line-height: 1;
    justify-content: center;
    width: 25em;
    flex-direction: column;
  }
}

@include xxs {
  .medications-page {
    .med-search {
      width: 16em;
    }
  }
}

@include md-up {
  .medications-page {
    .form-select {
      max-width: 30em;
    }
  }
}
