@import 'variables';

.navbar {
  padding: 0.5em;
  padding-bottom: 0em;
  justify-content: start;

  .bi {
    color: $black;
    font-size: 40px;
    border: none;
    background: none;
    padding: 0;
  }

  .nav-text {
    padding: 0.75em;
    width: 80%;
    word-wrap: break-word;
  }
}

.nav-dropdown {
  margin-left: 0.5em;
  position: absolute;
  background-color: $black;
  border: 2px solid $black;
}

.nav-link {
  text-decoration: underline;
  color: $white;
  transition: 200ms;
}

.nav-link:hover {
  color: $purple;
}

@include md-up {
  .navbar {
    padding: 0.75em;
    padding-bottom: 0em;
    .bi {
      font-size: 50px;
    }
  }
}
