@import "variables";

.navbar {
  padding: 0.5em;
  justify-content: start;
  .nav-link {
  text-decoration: underline;
    color: $white;
    transition: 200ms;
  }
  .nav-link:hover {
    color: $purple;
  }

  .bi {
    color: $black;
    font-size: 40px;
    border: none;
    background: none;
    padding: 0;
  }

  .dropdown-menu {
    top: 75%;
    background-color: $black;
    border: 2px solid $black
  }
  .nav-text {
    padding: 0.75em;
    width: 80%;
    word-wrap: break-word;
  }
}

@include md-up {
  .navbar {
    padding: 0.75em;
    .bi {
      font-size: 50px;
    }
  }
}
