@import "variables";

.users-page {
  .user-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-control {
    margin-bottom: 1em;
    width: 18em;
  }

  .new-user {
    margin-bottom: 30px;
    .btn-primary {
      width: 10em;
    }
  }

  .user-text {
    visibility: hidden;
    width: 100px;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    margin-left: 1em;
    position: absolute;
    z-index: 1;
  }

  .user-name:hover .user-text {
    visibility: visible;
  }

  .user-email:hover .user-text {
    visibility: visible;
  }

  .user-location:hover .user-text {
    visibility: visible;
  }
  
  .user-account:hover .user-text {
    visibility: visible;
  }
}
