@import "variables";

.users-page {
  .user-text {
    visibility: hidden;
    width: 80px;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    font-size: small;
  }

  .user-name:hover .user-text {
    visibility: visible;
  }

  .user-location:hover .user-text {
    visibility: visible;
  }

  .user-account:hover .user-text {
    visibility: visible;
  }
}

@include md {
  .users-page {
    .user-details {
      height: 70vh;
    }
  }
}

@include lg-up {
  .users-page {
    .user-name,
    .user-location,
    .user-account {
      width: 25vw;
      white-space: wrap;
      overflow: hidden;
    }
    .user-email {
      width: 50%;
    }
  }
}
