$white: #fff;
$blue: #214a80;
$light-blue: #add8e6;
$dark-grey: #1e2833;
$grey: #434a52;
$light-grey: #6f7a85;

$screen-md-min: 415px;

$screen-md-max: 768px;

$screen-lg-min: 769px;

$screen-lg-max: 1439px;

$screen-xl-min: 1440px;

@mixin md {
  @media (min-width: $screen-md-min) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-lg-min) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin md-up {
  @media (min-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin xl-up {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
