<%= form_tag(admin_users_path, method: :get) do %>
  <%= hidden_field_tag(:location, @location_param) %>
  <div class="search-bar">
    <div id="auto-complete-user"></div>
    <%= submit_tag "Search" %>
  </div>
<% end %>